APP_NAME=Laravel
#本地开发local,正式环境production
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_FONT_URL=http://m.ljhui.net

#本机外网ip
OUT_IP=

LOG_CHANNEL=stack

#是否记录以抛错形式的接口返回(ApiException)
API_EXCEPTION_LOG=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# dingo
# API_SUBTYPE —— 项目的简称；
API_SUBTYPE=ljh
# API_PREFIX —— 与 API_DOMAIN 二选一，路由的前缀，例如设置为 api
API_PREFIX=api
# 定义版本
API_VERSION=v1
# 是否开启调试模式
API_DEBUG=true

#AccessKeyId
ALIYUN_ACCESS_ID=
#AccessKeySecret
ALIYUN_ACCESS_KEY=
#OSS bucket名
ALIYUN_BUCKET=

#LARAVELS配置
LARAVELS_LISTEN_IP=0.0.0.0
LARAVELS_LISTEN_PORT=5200
LARAVELS_WORKER_NUM=4

#LJConvert配置
LJC_LENGTH=
LJC_STEP=
LJC_MAX=
LJC_MIN=
LJC_MAP=

#JWT配置
JWT_KEY_BACKSTAGE=
JWT_KEY_BUSINESS=
JWT_KEY_SUBSTATION=
JWT_KEY_WEB=
JWT_KEY_SILENCE=

#文件上传  0本地
File_Upload_Type=0

#公众号配置
OFFICIAL_ACCOUNT_APPID=
OFFICIAL_ACCOUNT_SECRET=

#微信支付服务商账号--立吉惠 的相关信息(主要是v3版本接口的公共信息)
#商户号
WXPAY_MCHID=
#商户证书序列号
MERCHANT_CERT_SN=
#商户证书私钥文件路径
MERCHANT_PVT_PATH=
#平台证书序列号
PLATFORM_CERT_SN=
#平台证书公钥文件路径
PLATFORM_PUB_PATH=
#APIv3密钥，在微信支付回调通知和平台证书下载接口中使用
APIV3=
#支付回调通知地址
NOTIFY_URL=
#退款支付回调通知地址
REFUND_NOTIFY_URL=

#代收平台收益的微信支付普通商户号(目前是立吉报微信支付账号)
PLATFORM_MCHID=

#微信支付普通商户账号--立吉报 的相关信息(主要是v2版本接口的公共信息)
#商户号
LJB_WXPAY_MCHID=
#密钥
LJB_WXPAY_SECRET=
#证书路径
LJB_WXPAY_CERT_PEM_PATH=
#证书密钥路径
LJB_WXPAY_KEY_PEM_PATH=

#立吉惠二级商户号
LJH_SUB_MCHID=