/node_modules
/public/storage
/vendor
/package.json
/phpunit.xml
/server.php
/webpack.mix.js
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitattributes
.styleci.yml
/composer.lock
/.idea
/config/ide-helper.php
.phpstorm.meta.php
_ide_helper.php
/public/uploads